/* p{
    color: blue;
    background-color: blueviolet;
text-align: center;
}
.a{
    color: brown;
    background-color: aqua;
}
#jk{
     font: size 36px; ;
}
div {
    display: inline-block; */
    /* height: 600px;
    width: 100px;
    background-color: rgb(42, 165, 104);
    padding: 6px;
    border: 5px  ;
    margin: 100px;
}
.b{
    color: rgb(217, 0, 255);
    background-color: bisque;
} */
div{
    text-align: center;
    border: 4px solid color(srgb red green blue);
    padding: 4px;
width: 300px;
height: 100px;
margin: 100px;
}

